body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#title {
    padding-top: .5em;
    text-align: center;
    font-family: sans-serif;
    font-size: 300%;
}

.intro {
    padding-top: 2em;
    text-align: center;
}

#RecipeList {
    float: left;
    text-align: left;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-element {
  width: 100%;
  margin: 0 2%;
  text-align: center;
}

#RecipeList {
    list-style-type: none
}
